include ./mixins.pug

- var developerName = 'Максим Шаталов'
- var jobDescription = 'Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.'
- var jobContent = 'Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!'
- var footerContent = 'Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool!'
- var footerQuote = 'Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете.'
- var footerQuoteAuthor = 'Martin Golding'
- var siteTitle = 'Личный сайт разработчика'

- var skillsTitle = 'Чем я могу быть вам полезен'


-
  var icons = {
    insta: {
      link:'#',
      target:'_blank',
      icon:'insta'
    },
    vk: {
      link:'http://vk.com/id224269077',
      target:'_blank',
      icon:'vk'
    },
    github: {
      link:'https://github.com/furzeal',
      target:'_blank',
      icon:'github'
    },
  }

-
  var userList = {
    location: {
      name: 'Проживаю:',
      value: 'Мытищи',
    },
    age: {
      name: 'Возраст:',
      value: '38 лет',
    },
    born: {
      name: 'Родился:',
      value: '26 февраля 1982',
    },
  }

-
  var worksList = [
    {
      preview:'Превью работы 1',
      title:'Сайт школы образования',
      description: ' Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque pariatur eius, maiores repellat, sint veniam quibusdam odio tenetur ullam praesentium itaque alias assumenda quos totam fugit accusantium at voluptates eligendi id nemo sit voluptas magni, dolores magnam?',
      link:'#',
      target:'_blank',
      image: 'content/work-1.jpg',
      previewImage: 'content/preview-1.jpg',
      tags:['html','css','js'],
    },
      {
        preview:'Превью работы 2',
        title:'Система проектирования',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sed sapiente adipisci voluptatum, atque, dolore facilis temporibus praesentium esse, facere fugiat libero odio.',
        link:'#',
        target:'_blank',
        image: 'content/work-2.jpg',
        previewImage: 'content/preview-2.jpg',
        tags:['C#','WPF','WCF'],
    },
      {
        preview:'Превью работы 3',
        title:'Система аналитики',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, corporis voluptates esse, amet repellendus sint consectetur exercitationem aliquid perferendis omnis commodi aspernatur dolorum qui, neque vitae sed repellat quibusdam adipisci.',
        link:'#',
        target:'_blank',
        image: 'content/work-3.jpg',
        previewImage: 'content/preview-3.jpg',
        tags:['ASP.Net Core','React','SPA'],
    },
    {
      preview:'Превью работы 4',
      title:'Сайт-портфолио',
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, corporis voluptates esse, amet repellendus sint consectetur exercitationem aliquid perferendis omnis commodi aspernatur dolorum qui, neque vitae sed repellat quibusdam adipisci.',
      link:'#',
      target:'_blank',
      image: 'content/work-4.jpg',
      previewImage: 'content/preview-4.jpg',
      tags:['Vue','Webpack','SPA'],
    },
      {
        preview:'Превью работы 5',
        title:'Сайт-портфолио',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, corporis voluptates esse, amet repellendus sint consectetur exercitationem aliquid perferendis omnis commodi aspernatur dolorum qui, neque vitae sed repellat quibusdam adipisci.',
        link:'#',
        target:'_blank',
        image: 'content/work-5.jpg',
        previewImage: 'content/preview-5.jpg',
        tags:['Vue','Webpack','SPA'],
    }
  ]

  var activeWork = worksList[1]

-
  var feedbackInputs = [
    {
      tooltip:'Введите ваше имя',
      placeholder:'Ковальчук Дмитрий',
      icon: 'user',
      name: 'username',
    },
      {
        tooltip:'Введите ваш email',
        placeholder:'loftschool@study.com',
        icon: 'envelope',
        name: 'email',
    },
    {
      tooltip:'Сообщение к письму',
      placeholder:'Требуется ваша помощь в создании сайта.\nИнтересуют сроки и цена вопроса.',
      icon: 'message',
      name: 'message',
    }
  ]

  var lastInput = feedbackInputs[feedbackInputs.length-1];

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper#app
      .welcome-section#main
        parallax
        section.developer
          .container.developer__container
            header.header.developer__header
              .header__logo
                .initials.title-text МШ
              .header__menu
                navigation(:sections=`sections`)
              .header__socials
                ul.socials
                  each icon in icons
                    li.socials__item
                      a.socials__link(href=`${icon.link}` target=`${icon.target}`)
                        +icon(`${icon.icon}`,'socials__icon')
              side(:sections=`sections`)
            .developer__content
              .dev-info
                .dev-info__desc.text.text_semi-bold.text_30 #{siteTitle}
                h1.dev-info__title.title-text.title-text_main #{developerName}
            .developer__button
              .scroll-button.text.text_bold(v-scroll-to="{ el: `#${sections[1].id}`, duration: 2000, easing: [0.25, 1, 0.5, 1]}") Скролл
                +icon('scroll', 'scroll-button__img')
        section.about#about
          .container.about__container
            .about__info
              .user
                .avatar.user__avatar
                  +image("content/user.jpg","avatar__img")
                ul.user__list
                  each item in userList
                    li.user__item
                      .user__property.text.text_semi-bold.text_30 #{item.name}
                      .user__value.text.text_semi-bold #{item.value}
            .about__desc
              .about__welcome.text.text_semi-bold.text_50 Привет, меня зовут
              h2.about__title.text.title-text #{developerName}      
              .about__text.text.text_semi-bold.text_50
                p #{jobDescription}   
              .about__ps.text.text_50.text_italic
                p #{jobContent}  
      section.skills#skills
        .container.skills__container
          .skills__backpack
            +image("content/backpack.png","skills__backpack-img")
          .skills__content
            .skills__section-title
              .section-title
                h2.section-title__text.title-text.title-text_small #{skillsTitle}
                .section-title__desc.text.text_semi-bold.text_50 
                  p #{jobContent}      
            skills
          .triangles.skills__triangles
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item
              polygon(points="0,0 0,100 1000,100")
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item
              polygon(points="0,100 1000,0 1000,100")
      section.works#works
        .container.works__container
          .works__section-title
            .section-title
              h2.section-title__text.title-text Мои работы
          works(:previews-quantity=4)
      .closing-section
        section.yells#yells
          .container.yells__container
            yells
        section.feedback#feedback
          .container.feedback__container
            .feedback__section-title
              .section-title
                h2.section-title__text.title-text Связаться со мной
            .feedback__content
              form(id="feedback-form").form.feedback__form
                ul.form__list
                  - for(var i = 0; i < feedbackInputs.length-1; i++) 
                    - var inputClass = i !== 1 ? 'input form__item' : 'input input_active input_error form__item';
                      li(class=`${inputClass}`)
                        +icon(`${feedbackInputs[i].icon}`,"input__icon")
                        .input__label.text.text_semi-bold.text_30 #{feedbackInputs[i].tooltip}
                        input(type="text", name=`${feedbackInputs[i].name}`, placeholder=`${feedbackInputs[i].tooltip}`).input__control.text.text_bold
                        .context-tooltip.input__tooltip
                          .context-tooltip__message ошибка
                .input.input_active.input_textarea.form__textarea
                  +icon(`${lastInput.icon}`,"input__icon")
                  .input__label.text.text_semi-bold.text_30 #{lastInput.tooltip}
                  textarea(rows="3" name=`${lastInput.name}`, placeholder=`${lastInput.tooltip}`).input__control.input__control_textarea.text.text_bold
                  .context-tooltip.input__tooltip
                    .context-tooltip__message ошибка
                button(type="submit" form="feedback-form").dialog-button.form__button.text.text_bold отправить
        .triangles.closing-section__triangles
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item
            polygon(points="0,0 1000,0 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item
            polygon(points="0,0 0,100 1000,0")
      section.temp
        .popup
          .popup__message.text.text_bold Письмо отправлено
          button.dialog-button.popup__button.text.text_bold закрыть
        .tooltip.tooltip_ok Сообщение отправлено
          +icon('remove', 'tooltip__button')
        .tooltip.tooltip_warning Сервер перегружен
          +icon('remove', 'tooltip__button')
        .tooltip.tooltip_error Сообщение не отправлено
          +icon('remove', 'tooltip__button')
      footer.footer
        .container.footer__container
          .footer__left
            .footer__copyright.text.text_copyright.text_15-white &copy 2020
            .footer__initials.text.text_bold #{developerName}
            .footer__title.text.text_30-white #{siteTitle}
          .footer__right
            .footer__menu
              navigation(:sections=`sections`)
            .footer__content
              .footer__socials.text.text_semi-bold.text_30-white
                .footer__desc #{footerContent}
                ul.socials.socials_footer
                  each icon in icons
                    li.socials__item
                      a.socials__link.socials__link_footer(href=`${icon.link}` target=`${icon.target}`)
                        +icon(`${icon.icon}`,'socials__icon socials__icon_footer')
              .footer__quote
                .footer__quote-text.text.text_semi-bold.text_30-white #{footerQuote}
                .footer__quote-user.text.text_italic #{footerQuoteAuthor}
    include templates/templates.pug